= partial :'../shared/partials/scripts.footer'
= partial :'../shared/partials/templates/alert'
= partial :'../shared/partials/templates/error'
= partial :'../shared/partials/templates/loader'
= partial :'../shared/partials/templates/password'