.page-content
  .page-title
    .row.justify-content-between.align-items-center
      .col-md-6.d-flex.align-items-center.justify-content-between.justify-content-md-start.mb-3.mb-md-0
        .d-inline-block
          %h5.h4.d-inline-block.font-weight-400.mb-0.text-white Authentication
      .col-md-6.d-flex.align-items-center.justify-content-between.justify-content-md-end
  .row
    .col-lg-4.order-lg-2
      = partial :'partials/navigation', :locals => {:active => 'authentication'}

    .col-lg-8.order-lg-1
      - Obscured::AptWatcher::Plugins.all.select{|p| p.type == :authentication && p.installed?}.each do |plugin|
        %form{:action => "/plugin/#{plugin.signature}/edit", :method => 'post'}
          .card
            .card-header
              %h5.h6.mb-0= plugin.name
            .list-group.list-group-flush
              .list-group-item.d-flex.w-100.justify-content-between
                %div
                  %h6.mb-1 Enabled?
                  %span.text-sm.text-muted You will receive an alert when one of your favorite products has a discount price.
                %div
                  .custom-control.custom-switch
                    - if plugin.config.properties[:enabled] == true
                      %input.custom-control-input{:name => "enabled", :id => "checkbox-#{plugin.signature}", :type => "checkbox", :checked => "checked"}
                    - else
                      %input.custom-control-input{:name => "enabled", :id => "checkbox-#{plugin.signature}", :type => "checkbox"}
                    %label.custom-control-label{:for => "checkbox-#{plugin.signature}"}
            .card-body
              - plugin.template.except(:enabled).each do |key, value|
                .row
                  .col-12
                    - if value[:type] == "text"
                      .form-group
                        %label.form-control-label.mb-0= key.capitalize
                        %input.form-control{:name => key, :placeholder => value[:placeholder], :type => value[:type], :value => plugin.config.properties[key], 'data-rule-required' => 'true'}
                    - elsif value[:type] == "password"
                      .form-group
                        .d-flex.align-items-center.justify-content-between
                          %label.form-control-label.mb-0= key.capitalize
                        .input-group.input-group-merge
                          %input.form-control{:id => "input-#{plugin.signature}-#{key}", :name => key, :placeholder => value[:placeholder], :type => value[:type], :value => plugin.config.properties[key], 'data-rule-required' => 'true'}
                          .input-group-append
                            %span.input-group-text
                              %a{"data-target" => "#input-#{plugin.signature}-#{key}", "data-toggle" => "password-text", :href => "#"}
                                %i.fas.fa-eye
                    - elsif value[:type] == "tags"
                      .form-group.mb-0
                        %label.form-control-label.mb-0= key.capitalize
                        %input.form-control{"data-toggle" => "tags", :name => key, :placeholder => "Type here...", :type => "text", :value => plugin.config.properties[key], 'data-rule-required' => 'true'}
              .text-right
                %button.btn.btn-sm.btn-primary.rounded-pill{:type => "submit"} Save