= partial :'../shared/partials/setup'
.dashhead
  .dashhead-titles.mb-3
    %h6.dashhead-subtitle Settings
    %h2.dashhead-title

%div#alert-wrapper
  - if flash[:save_ok]
    .alert.alert-success.mt-2
      %strong Well done!
      = flash[:save_ok]
  - if flash[:save_error]
    .alert.alert-danger.mt-2
      %strong Oh snap!
      = flash[:save_error]

%div
  .hr-divider.my-4
    %h3.hr-divider-content.hr-divider-heading Application
  .form-group
    .alert.alert-info
      %strong Heads up!
      If you disable registration no user can register (users can be created once logged in) or if you disable confirmation the users email address will automatically be confirmed upon registration/creation.
    .row
      .col-3
        %label User registration
        %br
        .btn-group{'data-toggle' => 'buttons'}
          - if config.user_registration
            %label.btn.btn-info.active{'data-trigger' => 'enabler', 'data-enabled' => 'true', 'data-url' => '/settings/enable/registration'}
              %input{:autocomplete => 'off', :checked => 'checked', :name => 'user_registration', :type => 'radio'}
              On
            %label.btn.btn-info{'data-trigger' => 'enabler', 'data-enabled' => 'false', 'data-url' => '/settings/enable/registration'}
              %input{:autocomplete => 'off', :name => 'user_registration', :type => 'radio'}
              Off
          - else
            %label.btn.btn-info{'data-trigger' => 'enabler', 'data-enabled' => 'true', 'data-url' => '/settings/disable/registration'}
              %input{:autocomplete => 'off', :name => 'user_registration', :type => 'radio'}
              On
            %label.btn.btn-info.active{'data-trigger' => 'enabler', 'data-enabled' => 'false', 'data-url' => '/settings/disable/registration'}
              %input{:autocomplete => 'off', :checked => 'checked', :name => 'user_registration', :type => 'radio'}
              Off
      .col-3
        %label User confirmation
        %br
        .btn-group{'data-toggle' => 'buttons'}
          - if config.user_confirmation
            %label.btn.btn-info.active{'data-trigger' => 'enabler', 'data-enabled' => 'true', 'data-url' => '/settings/enable/confirmation'}
              %input{:autocomplete => 'off', :checked => 'checked', :name => 'user_confirmation', :type => 'radio'}
              On
            %label.btn.btn-info{'data-trigger' => 'enabler', 'data-enabled' => 'false', 'data-url' => '/settings/enable/confirmation'}
              %input{:autocomplete => 'off', :name => 'user_confirmation', :type => 'radio'}
              Off
          - else
            %label.btn.btn-info{'data-trigger' => 'enabler', 'data-enabled' => 'true', 'data-url' => '/settings/disable/confirmation'}
              %input{:autocomplete => 'off', :name => 'user_confirmation', :type => 'radio'}
              On
            %label.btn.btn-info.active{'data-trigger' => 'enabler', 'data-enabled' => 'false', 'data-url' => '/settings/disable/confirmation'}
              %input{:autocomplete => 'off', :checked => 'checked', :name => 'user_confirmation', :type => 'radio'}
              Off
      .col-3
        %label Raygun
        %br
        .btn-group{'data-toggle' => 'buttons'}
          - if config.raygun.enabled
            %label.btn.btn-info.active{'data-trigger' => 'enabler', 'data-enabled' => 'true', 'data-url' => '/settings/enable/raygun'}
              %input{:autocomplete => 'off', :checked => 'checked', :name => 'raygun_enabled', :type => 'radio'}
              On
            %label.btn.btn-info{'data-trigger' => 'enabler', 'data-enabled' => 'false', 'data-url' => '/settings/enable/raygun'}
              %input{:autocomplete => 'off', :name => 'raygun_enabled', :type => 'radio'}
              Off
          - else
            %label.btn.btn-info{'data-trigger' => 'enabler', 'data-enabled' => 'true', 'data-url' => '/settings/enable/raygun'}
              %input{:autocomplete => 'off', :name => 'raygun_enabled', :type => 'radio'}
              On
            %label.btn.btn-info.active{'data-trigger' => 'enabler', 'data-enabled' => 'false', 'data-url' => '/settings/enable/raygun'}
              %input{:autocomplete => 'off', :checked => 'checked', :name => 'raygun_enabled', :type => 'radio'}
              Off
      .col-3
        %label Mail
        %br
        .btn-group{'data-toggle' => 'buttons'}
          - if config.smtp.enabled
            %label.btn.btn-info.active{'data-trigger' => 'enabler', 'data-enabled' => 'true', 'data-url' => '/settings/enable/mail'}
              %input{:autocomplete => 'off', :checked => 'checked', :name => 'smtp_enabled', :type => 'radio'}
              On
            %label.btn.btn-info{'data-trigger' => 'enabler', 'data-enabled' => 'false', 'data-url' => '/settings/enable/mail'}
              %input{:autocomplete => 'off', :name => 'smtp_enabled', :type => 'radio'}
              Off
          - else
            %label.btn.btn-info{'data-trigger' => 'enabler', 'data-enabled' => 'true', 'data-url' => '/settings/enable/mail'}
              %input{:autocomplete => 'off', :name => 'smtp_enabled', :type => 'radio'}
              On
            %label.btn.btn-info.active{'data-trigger' => 'enabler', 'data-enabled' => 'false', 'data-url' => '/settings/enable/mail'}
              %input{:autocomplete => 'off', :checked => 'checked', :name => 'smtp_enabled', :type => 'radio'}
              Off
      .col-3
        %label Slack
        %br
        .btn-group{'data-toggle' => 'buttons'}
          - if config.slack.enabled
            %label.btn.btn-info.active{'data-trigger' => 'enabler', 'data-enabled' => 'true', 'data-url' => '/settings/enable/slack'}
              %input{:autocomplete => 'off', :checked => 'checked', :name => 'smtp_enabled', :type => 'radio'}
              On
            %label.btn.btn-info{'data-trigger' => 'enabler', 'data-enabled' => 'false', 'data-url' => '/settings/enable/slack'}
              %input{:autocomplete => 'off', :name => 'smtp_enabled', :type => 'radio'}
              Off
          - else
            %label.btn.btn-info{'data-trigger' => 'enabler', 'data-enabled' => 'true', 'data-url' => '/settings/enable/slack'}
              %input{:autocomplete => 'off', :name => 'smtp_enabled', :type => 'radio'}
              On
            %label.btn.btn-info.active{'data-trigger' => 'enabler', 'data-enabled' => 'false', 'data-url' => '/settings/enable/slack'}
              %input{:autocomplete => 'off', :checked => 'checked', :name => 'smtp_enabled', :type => 'radio'}
              Off
      .col-3
        %label Bitbucket SSO
        %br
        .btn-group{'data-toggle' => 'buttons'}
          - if config.bitbucket.enabled
            %label.btn.btn-info.active{'data-trigger' => 'enabler', 'data-enabled' => 'true', 'data-url' => '/settings/enable/bitbucket'}
              %input{:autocomplete => 'off', :checked => 'checked', :name => 'bitbucket_enabled', :type => 'radio'}
              On
            %label.btn.btn-info{'data-trigger' => 'enabler', 'data-enabled' => 'false', 'data-url' => '/settings/enable/bitbucket'}
              %input{:autocomplete => 'off', :name => 'bitbucket_enabled', :type => 'radio'}
              Off
          - else
            %label.btn.btn-info{'data-trigger' => 'enabler', 'data-enabled' => 'true', 'data-url' => '/settings/enable/bitbucket'}
              %input{:autocomplete => 'off', :name => 'bitbucket_enabled', :type => 'radio'}
              On
            %label.btn.btn-info.active{'data-trigger' => 'enabler', 'data-enabled' => 'false', 'data-url' => '/settings/enable/bitbucket'}
              %input{:autocomplete => 'off', :checked => 'checked', :name => 'bitbucket_enabled', :type => 'radio'}
              Off
      .col-3
        %label GitHub SSO
        %br
        .btn-group{'data-toggle' => 'buttons'}
          - if config.github.enabled
            %label.btn.btn-info.active{'data-trigger' => 'enabler', 'data-enabled' => 'true', 'data-url' => '/settings/enable/github'}
              %input{:autocomplete => 'off', :checked => 'checked', :name => 'github_enabled', :type => 'radio'}
              On
            %label.btn.btn-info{'data-trigger' => 'enabler', 'data-enabled' => 'false', 'data-url' => '/settings/enable/github'}
              %input{:autocomplete => 'off', :name => 'github_enabled', :type => 'radio'}
              Off
          - else
            %label.btn.btn-info{'data-trigger' => 'enabler', 'data-enabled' => 'true', 'data-url' => '/settings/enable/github'}
              %input{:autocomplete => 'off', :name => 'github_enabled', :type => 'radio'}
              On
            %label.btn.btn-info.active{'data-trigger' => 'enabler', 'data-enabled' => 'false', 'data-url' => '/settings/enable/github'}
              %input{:autocomplete => 'off', :checked => 'checked', :name => 'github_enabled', :type => 'radio'}
              Off


%form#formAPI{:action => '/settings/api/update', :method => 'post'}
  .hr-divider.my-4
    %h3.hr-divider-content.hr-divider-heading API
  .form-group
    .row
      .col-6
        %input.form-control{:placeholder => 'username', :name => 'api_username', :value => config.api.username, :type => 'text', 'data-rule-required' => 'true', 'data-rule-minlength' => '6'}
      .col-6
        %input.form-control{:placeholder => 'password', :name => 'api_password', :value => config.api.password, :type => 'text', 'data-rule-required' => 'true', 'data-rule-minlength' => '6'}
  %button.btn.btn-primary.btn-pill{:type => 'submit'} Save changes


%form#formRaygun{:action => '/settings/raygun/update', :method => 'post'}
  .hr-divider.my-4
    %h3.hr-divider-content.hr-divider-heading Raygun
  .form-group
    - unless config.raygun.enabled
      = partial :'../shared/partials/alert', :locals => { :klass => 'alert-danger mb-2', :title => 'Oh snap!', :message => "This feature is disabled so no changes can be made until it's re-enabled!"}
    .row
      .col-6
        %input.form-control{:placeholder => 'RayGun API Key', :name => 'raygun_key', :value => config.raygun.key, :type => 'text', 'data-rule-required' => 'true', 'data-rule-minlength' => '6'}
  - if config.raygun.enabled
    %button.btn.btn-primary.btn-pill{:type => 'submit'} Save changes
  - else
    %button.btn.btn-primary.btn-pill{:type => 'submit', :disabled => 'disabled'} Save changes


%form#formSlack{:action => '/settings/slack/update', :method => 'post'}
  .hr-divider.my-4
    %h3.hr-divider-content.hr-divider-heading Slack
  .form-group
    - unless config.slack.enabled
      = partial :'../shared/partials/alert', :locals => { :klass => 'alert-danger mb-2', :title => 'Oh snap!', :message => "This feature is disabled so no changes can be made until it's re-enabled!"}
    .row
      .col-4
        %input.form-control{:placeholder => 'channel', :name => 'slack_channel', :value => config.slack.channel, :type => 'text', 'data-rule-required' => 'true', 'data-rule-minlength' => '1'}
      .col-4
        %input.form-control{:placeholder => 'Obscuerd.AptWatcher', :name => 'slack_user', :value => config.slack.user, :type => 'text', 'data-rule-required' => 'true', 'data-rule-minlength' => '1'}
      .col-4
        %input.form-control{:placeholder => ':slack:', :name => 'slack_icon', :value => config.slack.icon, :type => 'text', 'data-rule-required' => 'true', 'data-rule-minlength' => '1', 'data-rule-slackicon' => 'true'}
  .form-group
    .row
      .col-12
        %input#webhookUrl.form-control{:placeholder => 'https://hooks.slack.com/services/***/***/***', :name => 'slack_webhook', :value => config.slack.webhook, :type => 'text', 'data-rule-required' => 'true'}
  - if config.slack.enabled
    %button.btn.btn-primary.btn-pill{:type => 'submit'} Save changes
  - else
    %button.btn.btn-primary.btn-pill{:type => 'submit', :disabled => 'disabled'} Save changes


%form#formMail{:action => '/settings/mail/update', :method => 'post'}
  .hr-divider.my-4
    %h3.hr-divider-content.hr-divider-heading Mail
  .form-group
    - unless config.smtp.enabled
      = partial :'../shared/partials/alert', :locals => { :klass => 'alert-danger mb-2', :title => 'Oh snap!', :message => "This feature is disabled so no changes can be made until it's re-enabled!"}
    .row
      .col-4
        %input.form-control{:placeholder => 'obscured.se', :name => 'smtp_domain', :value => config.smtp.domain, :type => 'text', 'data-rule-required' => 'true'}
      .col-4
        %input.form-control{:placeholder => 'username', :name => 'smtp_username', :value => config.smtp.username, :type => 'text', 'data-rule-required' => 'true'}
      .col-4
        %input.form-control{:placeholder => 'password', :name => 'smtp_password', :value => config.smtp.password, :type => 'text', 'data-rule-required' => 'true'}
  .form-group
    .row
      .col-6
        %input#smtpServer.form-control{:placeholder => 'smtp.sendgrid.net', :name => 'smtp_host', :value => config.smtp.host, :type => 'text', 'data-rule-required' => 'true'}
      .col-6
        %input#smtpPort.form-control{:placeholder => '587', :name => 'smtp_port', :value => config.smtp.port, :type => 'text', 'data-rule-required' => 'true'}
  - if config.smtp.enabled
    %button.btn.btn-primary.btn-pill{:type => 'submit'} Save changes
  - else
    %button.btn.btn-primary.btn-pill{:type => 'submit', :disabled => 'disabled'} Save changes



%form#formBitbucket{:action => '/settings/bitbucket/update', :method => 'post'}
  .hr-divider.my-4
    %h3.hr-divider-content.hr-divider-heading Bitbucket
  .form-group
    - unless config.bitbucket.enabled
      = partial :'../shared/partials/alert', :locals => { :klass => 'alert-danger mb-2', :title => 'Oh snap!', :message => "This feature is disabled so no changes can be made until it's re-enabled!"}
    .row
      .col-6
        %input.form-control{:placeholder => 'key', :name => 'bitbucket_key', :value => config.bitbucket.key, :type => 'text', 'data-rule-required' => 'true'}
      .col-6
        %input.form-control{:placeholder => 'secret', :name => 'bitbucket_secret', :value => config.bitbucket.secret, :type => 'text', 'data-rule-required' => 'true'}
  .form-group
    .row
      .col-12
        .alert.alert-info
          %strong Heads up!
          If you need to whitelist multiple domains the input need to be comma seperated (ex. domain.tld,domain.tld)
        %input.form-control{:placeholder => 'Domain whitelist', :name => 'bitbucket_domains', :value => config.bitbucket.domains, :type => 'text', 'data-rule-required' => 'true', 'data-rule-minlength' => '4'}
  - if config.bitbucket.enabled
    %button.btn.btn-primary.btn-pill{:type => 'submit'} Save changes
  - else
    %button.btn.btn-primary.btn-pill{:type => 'submit', :disabled => 'disabled'} Save changes



%form#formGitHub{:action => '/settings/github/update', :method => 'post'}
  .hr-divider.my-4
    %h3.hr-divider-content.hr-divider-heading GitHub
  .form-group
    - unless config.github.enabled
      = partial :'../shared/partials/alert', :locals => { :klass => 'alert-danger mb-2', :title => 'Oh snap!', :message => "This feature is disabled so no changes can be made until it's re-enabled!"}
    .row
      .col-6
        %input.form-control{:placeholder => 'key', :name => 'github_key', :value => config.github.key, :type => 'text', 'data-rule-required' => 'true'}
      .col-6
        %input.form-control{:placeholder => 'secret', :name => 'github_secret', :value => config.github.secret, :type => 'text', 'data-rule-required' => 'true'}
  .form-group
    .row
      .col-12
        .alert.alert-info
          %strong Heads up!
          If you need to whitelist multiple domains the input need to be comma seperated (ex. domain.tld,domain.tld)
        %input.form-control{:placeholder => 'Domain whitelist', :name => 'github_domains', :value => config.github.domains, :type => 'text', 'data-rule-required' => 'true', 'data-rule-minlength' => '4'}
  - if config.github.enabled
    %button.btn.btn-primary.btn-pill{:type => 'submit'} Save changes
  - else
    %button.btn.btn-primary.btn-pill{:type => 'submit', :disabled => 'disabled'} Save changes

:javascript
  jQuery(document).ready(function() {
    jQuery('#formAPI').validate();
    jQuery('#formRaygun').validate();
    jQuery('#formSlack').validate();
    jQuery('#formMail').validate();
    jQuery('#formBitbucket').validate();
    jQuery('#formGitHub').validate();

    Obscured.Helpers.Enabler.Bind({});
  });