!!! 5
%html
  %head
    %meta{:charset => 'utf-8'}
    %meta{:content => 'IE=edge', 'http-equiv' => 'X-UA-Compatible'}
    %meta{:content => 'width=device-width, initial-scale=1', :name => 'viewport'}
    %meta{:content => '', :name => 'description'}
    %meta{:content => '', :name => 'keywords'}
    %meta{:content => '', :name => 'author'}

    %title= 'Settings (Obscured.AptWatcher)'
    = partial :'../shared/partials/styles'
    = partial :'../shared/partials/scripts.head'

  %body.with-top-navbar
    = partial :'../shared/partials/navigation', :locals => {:active => 'settings'}
    .container-fluid.container-fluid-spacious.mt-4
      = partial :'../shared/partials/error.generic'
      = yield

    = partial :'../shared/partials/scripts.footer'
    = partial :'../shared/footer'