.page-content
  .page-title
    .row.justify-content-between.align-items-center
      .col-md-6.d-flex.align-items-center.justify-content-between.justify-content-md-start.mb-3.mb-md-0
        .d-inline-block
          %h5.h4.d-inline-block.font-weight-400.mb-0.text-white Account settings
      .col-md-6.d-flex.align-items-center.justify-content-between.justify-content-md-end
  .row
    .col-lg-4.order-lg-2
      = partial :'partials/navigation', locals: { active: 'settings' }
      = partial :'partials/timeline', locals: { timeline: timeline }

    .col-lg-8.order-lg-1
      .card.bg-gradient-warning.hover-shadow-lg.border-0
        .card-body.py-3
          .row.row-grid.align-items-center
            .col-lg-8
              .media.align-items-center
                %a.avatar.avatar-lg.rounded-circle.mr-3{:href => "#"}
                  %img{:src => "//www.gravatar.com/avatar/#{Digest::MD5.hexdigest(current_user.username)}"}
                .media-body
                  %h5.text-white.mb-0= user.name
                  %div
                    %form
                      %input#file-1.custom-input-file.custom-input-file-link{"data-multiple-caption" => "{count} files selected", :multiple => "multiple", :name => "file-1[]", :type => "file"}
                      %label{:for => "file-1"}
                        %span.text-white Change avatar
            .col-auto.flex-fill.mt-4.mt-sm-0.text-sm-right.d-none.d-lg-block
              %a.btn.btn-sm.btn-white.rounded-pill.btn-icon.shadow{:href => "#"}
                %span.btn-inner--icon
                  %i.fa.fa-fire
                %span.btn-inner--text Upgrade to Pro
      .card
        .card-body
          %form
            .row
              .col-md-6
                .form-group
                  %label.form-control-label First name
                  %input.form-control{:placeholder => "Enter your first name", :type => "text", value: user.first_name}
              .col-md-6
                .form-group
                  %label.form-control-label Last name
                  %input.form-control{:placeholder => "Also your last name", :type => "text", value: user.last_name}
            .row.align-items-center
              .col-md-6
                .form-group
                  %label.form-control-label Birthday
                  %input.form-control{"data-toggle" => "date", :placeholder => "Select your birth date", :type => "text"}
              .col-md-6
                .form-group
                  %label.form-control-label Gender
                  %select.form-control{"data-toggle" => "select"}
                    %option{:value => "1"} Female
                    %option{:value => "2"} Male
                    %option{:value => "2"} Rather not say
            .row
              .col-md-6
                .form-group
                  %label.form-control-label Email
                  %input.form-control{:placeholder => "name@exmaple.com", :type => "email", value: user.email}
                  %small.form-text.text-muted.mt-2 This is the main email address that we'll send notifications.
            .row
              .col-md-6
                .form-group
                  %label.form-control-label Phone
                  %input.form-control{:placeholder => "+40-777 245 549", :type => "text"}
            %hr
            %button.btn.btn-sm.btn-primary.rounded-pill{:type => "button"} Save changes
            %button.btn.btn-link.text-muted{:type => "button"} Cancel
      .card
        .card-header
          %h5.h6.mb-0 Danger zone
        .card-body
          %button.btn.btn-sm.btn-danger.rounded-pill{"data-target" => "#modal-delete-account", "data-toggle" => "modal", :type => "button"} Delete account
          = partial :'../shared/partials/modals/delete', :locals => {:id => 'modal-delete-account', :model => { :button => 'Delete my account', :header => 'Should we stop now?', :message => 'All your data will be erased. You will no longer be billed, and your username will be available to anyone.' }}