.dashhead
  .dashhead-titles.mb-3
    %h6.dashhead-subtitle Alerts
    %h2.dashhead-title Alert history
.table-responsive
  %table.table{'data-sort' => 'table'}
    %thead
      %tr
        %th.header.headerSortDown Host
        %th.header Created
        %th.header Status
        %th.header Message
        %th.header.text-right Details
    %tbody
      - alerts.each do |alert|
        %tr
          %td= alert.hostname
          %td= alert.created_at
          %td= ":#{alert.status}"
          %td= alert.message
          %td.text-right
            %a{:href => "/notifications/#{alert._id}"}
              %span.icon.icon-dots-three-horizontal