!!! 5
%html
  %head
    %meta{:charset => 'utf-8'}
    %meta{:content => 'width=device-width, initial-scale=1', :name => 'viewport'}
    %meta{:content => '', :name => 'description'}
    %meta{:content => '', :name => 'keywords'}
    %meta{:content => '', :name => 'author'}
    %link{:href => '/img/favicon.ico', :rel => 'Obscured.AptWatcher', :type  => 'image/x-icon'}

    %title= 'Setup (Obscured.AptWatcher)'
    = partial :'../shared/partials/styles'
    = partial :'../shared/partials/scripts.head'

  %body.application.application-offset
    .container-fluid.container-application
      .main-content.position-relative
        .page-content
          = yield
    = partial :'../shared/partials/scripts.footer'