.dashhead
  .dashhead-titles
    %h6.dashhead-subtitle Host
    %h3.dashhead-title
      = host.hostname
      = partial :'partials/state', :locals => {:host => host}

- if flash[:save_ok]
  .alert.alert-success.mt-2
    %strong Well done!
    = flash[:save_ok]
- if flash[:save_error]
  .alert.alert-danger.mt-2
    %strong Oh snap!
    = flash[:save_error]

%form{:action => "/host/#{host.id}/edit", :method => 'post'}
  .hr-divider.my-4
    %h3.hr-divider-content.hr-divider-heading Basics
  .alert.alert-info
    %strong Heads up!
    If you change hostname all collected data will persist will the old hostname and therefore not be available for the new hostname.
  .row
    .col-6
      %input.form-control{:placeholder => 'Hostname', :name => 'host_hostname', :value => host.hostname, :type => 'text'}
    .col-6
      .form-group
        %select.form-control.custom-select{:type => 'text', :name => 'host_environment'}
          - if host.environment.to_s == 'production'
            %option{:value => 'production', :selected => 'selected'}= :production
          - else
            %option{:value => 'production'}= :production

          - if host.environment.to_s == 'staging'
            %option{:value => 'staging', :selected => 'selected'}= :staging
          - else
            %option{:value => 'staging'}= :staging

          - if host.environment.to_s == 'testing'
            %option{:value => 'testing', :selected => 'selected'}= :testing
          - else
            %option{:value => 'testing'}= :testing

          - if host.environment.to_s == 'shared'
            %option{:value => 'shared', :selected => 'selected'}= :shared
          - else
            %option{:value => 'shared'}= :shared

          - if host.environment.to_s == 'development'
            %option{:value => 'development', :selected => 'development'}= :development
          - else
            %option{:value => 'development'}= :development
  .form-group
    .row
      .col-12
        %label{:for => 'hostDescription'} Description
        %textarea#hostDescription.form-control{:rows => '3', :name => 'host_description'}
  %button.btn.btn-primary{:type => 'submit'} Save changes

  .hr-divider.my-4
    %h3.hr-divider-content.hr-divider-heading State
  %div#state-wrapper
  %a.btn.btn-dark{'data-trigger' => 'action', 'data-wrapper' => '#state-wrapper', 'data-url' => "/host/#{host.id}", 'data-action' => Obscured::State::CONNECTED} Connected
  %a.btn.btn-dark{'data-trigger' => 'action', 'data-wrapper' => '#state-wrapper', 'data-url' => "/host/#{host.id}", 'data-action' => Obscured::State::DISCONNECTED} Disconnected
  %a.btn.btn-dark{'data-trigger' => 'action', 'data-wrapper' => '#state-wrapper', 'data-url' => "/host/#{host.id}", 'data-action' => Obscured::State::DECOMMISSIONED} Decommissioned
  %a.btn.btn-dark{'data-trigger' => 'action', 'data-wrapper' => '#state-wrapper', 'data-url' => "/host/#{host.id}", 'data-action' => Obscured::State::PAUSED} Paused
  %a.btn.btn-dark{'data-trigger' => 'action', 'data-wrapper' => '#state-wrapper', 'data-url' => "/host/#{host.id}", 'data-action' => Obscured::State::IGNORED} Ignored

:javascript
  jQuery(document).ready(function() {
    Obscured.Helpers.Action.Bind({});
  });