!!! 5
%html
  %head
    %meta{:charset => 'UTF-8'}
    %meta{:content => '', :name => 'description' }
    %meta{:content => 'Obscured', :name => 'author' }
    %title= 'Doorman (Obscured.AptWatcher)'
    %link{:rel => 'icon', :type => 'image/x-icon', :href => '/img/favicon.ico'}
    = partial :'../shared/partials/styles'
    %link{:href => '/css/card.css', :rel => 'stylesheet'}

  %body
    = partial :'../shared/partials/environment'
    = yield
    = partial :'../shared/partials/scripts'