.cover-wrapper
  .cover-wrapper-inner.baseline
    .cover-container
      .cover-inner
        %div.text-center.mt-5.mb-5
          %h1 Obscured.AptWatcher
          %p.lead
            To proceed,
            %code Doorman
            kind of demands an identity, the identity is simply your email address.

        .card.card-identity.mb-3
          .card-mask#userMask
            - if (defined? email) && !email.nil?
              %img{:src => "//www.gravatar.com/avatar/#{Digest::MD5.hexdigest(email)}?s=200&d=https://ssl.gstatic.com/accounts/ui/avatar_2x.png"}
            - else
              %span

          %form#formLogin.mt-4{:action => '/doorman/login', :method => 'POST'}
            - if flash[:success]
              %p.text-center.text-success= flash[:success]
            - if flash[:error]
              %p.text-center.text-danger= flash[:error]
            - unless env['warden'].message.blank?
              %p.text-center.text-danger= env['warden'].message

            .form-group
              %label.sr-only{:for => 'Email'} Enter your email
              - if flash[:login_error]
                %label.control-label.small= flash[:login_error]
              - if flash[:email_error]
                %label.control-label.small{:for => 'Email'}= flash[:email_error]
              %input.form-control#Email{:autofocus => 'true', :name => 'user[login]', :placeholder => 'Enter your email', :type => 'email', :value => email, 'data-rule-required' => 'true'}

            .form-group
              %label.sr-only{:for => 'Password'} Enter your password
              - if flash[:password_error]
                %label.control-label.small{:for => 'Password'}= flash[:password_error]
              %input.form-control#Password{:autofocus => 'true', :name => 'user[password]', :placeholder => 'Enter your password', :type => 'password', :value => '', 'data-rule-required' => 'true'}

            .form-group
              %label.custom-control.custom-checkbox
                %input.custom-control-input{:type => 'checkbox', :name => 'user[remember_me]'}
                %span.custom-control-indicator
                %span.custom-control-description Remember me

              %button.btn.btn-success.btn-pill.btn-block.mb-4{:type => 'submit'} Next
              %a.btn.btn-block.btn-social.btn-bitbucket{:href => Obscured::Doorman::Providers::Bitbucket.config[:login_url]}
                %i.fa.fa-bitbucket
                Sign in with Bitbucket
              %a.btn.btn-block.btn-social.btn-github{:href => Obscured::Doorman::Providers::GitHub.config[:login_url]}
                %i.fa.fa-github
                Sign in with GitHub

      %div.text-center.mt-3
        %p
          %small
            Or if you forgot your password, reset it by clicking
            = succeed '!' do
              %a{:href => '/doorman/forgot'} here
:javascript
  jQuery(document).ready(function() {
    jQuery('#formLogin').validate();

    jQuery('#Email').on('focusout', function(e) {
      var wrapper = jQuery('#userMask'),
          email = jQuery(e.target).val();

      wrapper.html('<img src="//www.gravatar.com/avatar/' + md5(email) + '?s=200&amp;d=https://ssl.gstatic.com/accounts/ui/avatar_2x.png">')
    });
  });