.table-responsive{:id => id, 'data-length' => hosts.properties.length, 'data-page' => hosts.properties.page, 'data-page-size' => hosts.properties.page_size, 'data-page-first' => hosts.properties.page_first, 'data-page-last' => hosts.properties.page_last}
  %table.table{'data-sort' => 'table', 'data-sort-list' => '[[0,0]]'}
    %thead
      %tr
        %th.header.headerSortUp Name
        %th.header Created
        %th.header Updated
        %th.header Description
        %th.header Environment
        %th.header State
        %th.header.text-center Available Updates
    %tbody
      - hosts.items.each do |host|
        %tr
          %td
            %a{:href => "/host/#{host._id}"}= host.hostname
          %td= host.created_at
          %td= host.updated_at
          %td= host.description
          %td= host.environment
          %td
            = partial :'../host/partials/state', :locals => {:host => host}
          %td.text-center
            - if host.updates_pending > 0
              %span.text-danger
                =host.updates_pending
            - else
              %span.text-success
                =host.updates_pending
  = partial :'../shared/partials/pagination', :locals => { :_for => '#' + id, :url => url, :properties => hosts.properties }