.card
  .card-header
    .d-flex.justify-content-between.align-items-center
      %div
        %h6.mb-0 Timeline
      .text-right
        .actions
          %a.action-item{:href => "#"}
            %i.fa.fa-sync
          .dropdown.action-item{"data-toggle" => "dropdown"}
            %a.action-item{:href => "#"}
              %i.fa.fa-ellipsis-h
            .dropdown-menu.dropdown-menu-right
              %a.dropdown-item{:href => "#"} Refresh
              %a.dropdown-item{:href => "#"} Manage Widgets
              %a.dropdown-item{:href => "#"} Settings
  .card-body
    .timeline.timeline-one-side{"data-timeline-axis-style" => "dashed", "data-timeline-content" => "axis"}
      - timeline.each_with_index do |event, index|
        .timeline-block{'data-type': event.type, 'data-status': status(event.type)}
          %span.timeline-step.timeline-step-sm.text-white{class: "bg-#{status(event.type)} border-#{status(event.type)}"}= (index+1)
          .timeline-content
            %span.text-muted.text-sm= event.type
            %a.d-block.h6.text-sm.mb-0{:href => "#"}= event.message
            %small
              %i.far.fa-clock.mr-1
              = event.created_at
  .card-footer.py-2.text-center
    %a.text-sm.text-muted.font-weight-bold{:href => "#"} See all events