#modal-host-create.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-dialog-centered{:role => "document"}
    .modal-content
      %form#form-host-create{:action => "/host/create", :method => 'post'}
        .modal-body
          .form-group
            %label.form-control-label
              Name
            %input.form-control{:type => "text", :name => "name", :placeholder => "e.g. MongoDB #1",  'data-rule-required' => 'true'}
          .form-group
            %label.form-control-label
              Hostname
            %small.form-text.text-muted.mb-2.mt-0
              This must be a valid hostname and so on...
            %input.form-control{:type => "text", :name => "hostname", :placeholder => "e.g. 10.0.0.1 or hostname.tld",  'data-rule-required' => 'true'}
          .form-group
            .row
              .col-6
                %label.form-control-label.mb-0
                  Username
                %input.form-control{:type => "text", :name => "username", :placeholder => "Username", 'data-rule-required' => 'true'}
              .col-6
                .form-group
                  .d-flex.align-items-center.justify-content-between
                    %label.form-control-label.mb-0
                      Password
                  .input-group.input-group-merge
                    %input.form-control{:id => "input-password", :name => "password", :placeholder => "Password", :type => "password", 'data-rule-required' => 'true'}
                    .input-group-append
                      %span.input-group-text
                        %a{"data-target" => "#input-password", "data-toggle" => "password-text", :href => "#", 'data-rule-required' => "true"}
                          %i.fas.fa-eye
          .form-group
            %label.form-control-label Gateway
            %select.form-control{name: "gateway", "data-toggle" => "select"}
              %option{:value => "0"} None
              - Obscured::AptWatcher::Models::Gateway.all.each do |gw|
                %option{:value => gw.id}= "#{gw.name} (#{gw.hostname})"
          .form-group
            %label.form-control-label Package Manager
            %select.form-control{name: "manager", "data-toggle" => "select", 'data-rule-required' => 'true'}
              - Obscured::AptWatcher::Managers.all.select(&:enabled?).each do |manager|
                %option{:value => manager.signature}= manager.name
          .form-group{:style => "display: none;"}
            %label.form-control-label
              Maintainers
            %input.form-control{:type => "text"}
          .list-group.list-group-flush.mb-4{:style => "display: none;"}
            .list-group-item.px-0
              .row.align-items-center
                .col-auto
                  %a.avatar.avatar-sm.rounded-circle{:href => "#"}
                    %img{:src => "//www.gravatar.com/avatar/#{Digest::MD5.hexdigest(current_user.username)}"}
                .col.ml-n2
                  %a.d-block.h6.text-sm.mb-0{:href => "#!"} Erik Hennerfors
                  %p.card-text.text-sm.text-muted.mb-0
                    erik.hennerfors@obscured.se
                .col-auto.text-right
                  %span.text-sm.text-info Host Admin
            .list-group-item.px-0
              .row.align-items-center
                .col-auto
                  %a.avatar.avatar-sm.rounded-circle{:href => "#"}
                    %img{:src => "//www.gravatar.com/avatar/#{Digest::MD5.hexdigest("martin.hennerfors@obscured.se")}"}
                .col.ml-n2
                  %a.d-block.h6.text-sm.mb-0{:href => "#!"} Martin Hennerfors
                  %p.card-text.text-sm.text-muted.mb-0
                    martin.hennerfors@obscured.se
                .col-auto.text-right
                  %span.text-sm.text-info Host Admin
          .form-group
            %label.form-control-label
              Tags
            %input.form-control{"data-toggle" => "tags", :name => "tags", :placeholder => "Type here...", :type => "text", :value => ""}
        .modal-footer
          %button.btn.btn-sm.btn-primary.rounded-pill.mr-auto{:type => "submit"} Create
          //%button.btn.btn-sm.btn-link.text-muted.px-2{:type => "button"} Archive
          //%button.btn.btn-sm.btn-link.text-danger.px-2{:type => "button"} Delete

  :javascript
    jQuery(document).ready(function() {
      jQuery("#form-host-create").validate();
    });