.modal.fade{"aria-hidden" => "true", :id => id, :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-dialog-centered{:role => "document"}
    .modal-content
      %form{:action => "/manager/#{manager.signature}/update", :method => 'post'}
        .modal-header= manager.name
        - if manager.config.properties.key?(:enabled)
          .list-group.list-group-flush
            .list-group-item.d-flex.w-100.justify-content-between
              %div
                %h6.mb-1 Enabled?
                %span.text-sm.text-muted If this is set to true the plugin will be enabled upon creation.
              %div
                .custom-control.custom-switch
                  - if manager.config.properties[:enabled] == true
                    %input.custom-control-input{:name => "enabled", :id => "checkbox-#{manager.signature}", :type => "checkbox", :checked => "checked"}
                  - else
                    %input.custom-control-input{:name => "enabled", :id => "checkbox-#{manager.signature}", :type => "checkbox"}
                  %label.custom-control-label{:for => "checkbox-#{manager.signature}"}
        - if manager.template.except(:enabled).any?
          .modal-body
            - manager.template.except(:enabled).each do |key, value|
              .row
                .col-12
                  - if value[:type] == "text"
                    .form-group
                      %label.form-control-label.mb-0= key.capitalize
                      %input.form-control{:name => key, :placeholder => value[:placeholder], :type => value[:type], :value => value[:value], 'data-rule-required' => 'true'}
                  - elsif value[:type] == "password"
                    .form-group
                      .d-flex.align-items-center.justify-content-between
                        %label.form-control-label.mb-0= key.capitalize
                      .input-group.input-group-merge
                        %input.form-control{:id => "input-#{manager.signature}-#{key}", :name => key, :placeholder => value[:placeholder], :type => value[:type], :value => value[:value], 'data-rule-required' => 'true'}
                        .input-group-append
                          %span.input-group-text
                            %a{"data-target" => "#input-#{manager.signature}-#{key}", "data-toggle" => "password-text", :href => "#"}
                              %i.fas.fa-eye
                  - elsif value[:type] == "tags"
                    .form-group.mb-0
                      %label.form-control-label.mb-0= key.capitalize
                      %input.form-control{"data-toggle" => "tags", :placeholder => "Type here...", :type => "text", :value => value[:value], 'data-rule-required' => 'true'}
        .modal-footer
          %button.btn.btn-sm.btn-success.rounded-pill.mr-auto{:type => "submit"} Update