!!! 5
%html
  %head
    %meta{:charset => 'utf-8'}
    %meta{:content => 'IE=edge', 'http-equiv' => 'X-UA-Compatible'}
    %meta{:content => 'width=device-width, initial-scale=1', :name => 'viewport'}
    %meta{:content => '', :name => 'description'}
    %meta{:content => '', :name => 'keywords'}
    %meta{:content => '', :name => 'author'}

    %title= 'Hosts (Obscured.AptWatcher)'
    = partial :'../shared/partials/styles'

  %body
    .with-iconav
      = haml :'../shared/partials/navigation', :locals => {:active => 'hosts'}
      .container
        = yield
      = haml :'../shared/partials/scripts'

    = haml :'../shared/footer'