%table.devicewidth{:align => 'center', :border => '0', :cellpadding => '0', :cellspacing => '0', :style => 'border:none; border-collapse:collapse', :width => '600'}
  %tbody
    %tr
      %td
        %table.devicewidth{:align => 'center', :border => '0', :cellpadding => '0', :cellspacing => '0', :style => 'border:none; border-collapse:collapse', :width => '600'}
          %tbody
            %tr
              %td.pl25.pr25{:align => 'left', :style => 'color:#2dbe60; font-family:helvetica,arial,sans-serif; font-size:30px; font-weight:100; padding:0 0 10px 0'}
                Your password has been changed
    %tr
      %td
        %table.devicewidth{:border => '0', :cellpadding => '0', :cellspacing => '0', :style => 'border:none; border-collapse:collapse; table-layout:fixed; word-wrap:break-word', :width => '600'}
          %tbody
            %tr
              %td.pr25.pl25.f18.l26{:align => 'left', :style => 'color:#484848; font-family:helvetica,arial,sans-serif; font-size:18px; line-height:26px; font-weight:100; padding:0 30px 35px 0'}
                = "The password for your account (#{user}) was recently changed. This change was made from the following device or browser from:"
                %br/
                %br/
                = "Operating System/Browser: #{system}/#{browser}"
                %br/
                = "IP address: #{ip}"
                %br/
                = "Approximate location: #{location}"